body {
    background:#f7f7f7 !important;
    font-family: "Source Sans Pro", sans-serif;
}

.button-module__backgroundLight.button-module__primary {
    border: 1px solid #feb92f;
}

.button-module__backgroundLight.button-module__secondary {
    border: 1px solid #d3d3d3;
}

button.button-module__button.button-module__buttonWithIcon {
    background: none;
    border: 0;
}

.button-module__buttonWithIcon.button-module__secondary:not(.button-module__disabled):focus,
.button-module__buttonWithIcon.button-module__secondary:not(.button-module__disabled):hover,
.button-module__buttonWithIcon.button-module__secondary:not(.button-module__disabled):active {
    background-color: transparent;
}

h3.typography-module__modal-title {
    letter-spacing: 0;
}
